body {
  min-width: 1240px;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.index-header {
  font-family: "OpenSans-light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #000000;
  background-color: rgba(240, 197, 46, 0.5);
  width: 1160px;
  margin: 40px auto 0;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 34px;
  padding-bottom: 163px;
  position: relative;
}
.index-header__logo {
  width: 164px;
  height: 36px;
  font-family: "Gilroy-extrabold", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: #000000;
  text-transform: uppercase;
  position: absolute;
  top: -24px;
  left: 58px;
}
.index-header__logo:hover {
  opacity: 0.6;
}
.index-header__logo:active {
  opacity: 0.3;
}
.main-nav__user {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  margin-bottom: 29px;
}
.main-nav__user-item:hover:not(.main-nav__user-item--search) > a,
.main-nav__user-item:hover:not(.main-nav__user-item--search)::before {
  opacity: 0.6;
}
.main-nav__user-item:active:not(.main-nav__user-item--search) > a,
.main-nav__user-item:active:not(.main-nav__user-item--search)::before {
  opacity: 0.3;
}
.main-nav__user-item--search {
  margin-right: 99px;
}
.main-nav__user-item--login {
  padding-left: 27px;
  margin-right: 216px;
  position: relative;
}
.main-nav__user-item--login::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 9px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
}
.main-nav__user-item--compare {
  padding-left: 20px;
  position: relative;
}
.main-nav__user-item--compare::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 11px;
  width: 13px;
  height: 12px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
}
.main-nav__user-item--cart {
  padding-left: 24px;
  margin-left: auto;
  position: relative;
}
.main-nav__user-item--cart::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 9px;
  width: 13px;
  height: 12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
}
.main-nav__site {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  font-family: "Gilroy-extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.main-nav__site-item > a:hover {
  opacity: 0.6;
}
.main-nav__site-item > a:active {
  opacity: 0.3;
}
.main-nav__site-item--catalog {
  position: relative;
  padding-right: 32px;
  margin-right: auto;
}
.main-nav__site-item--catalog::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 4px;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}
.main-nav__site-item--catalog:hover .main-nav__submenu {
  display: flex;
}
.main-nav__site-item--delivery {
  margin-right: 33px;
}
.main-nav__site-item--warranty {
  margin-right: 109px;
}
.main-nav__site-item--contacts {
  margin-right: -4px;
}
.main-nav__submenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  font-family: "OpenSans-light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-transform: none;
  position: absolute;
  width: 1160px;
  height: 163px;
  top: 24px;
  left: -60px;
  padding-left: 60px;
  padding-top: 35px;
  flex-flow: row wrap;
  background-color: #f7e284;
  z-index: 5;
}
.main-nav__submenu-col {
  display: flex;
  flex-flow: column wrap;
}
.main-nav__submenu-col:first-child {
  width: 240px;
}
.main-nav__submenu-col:nth-child(2) {
  width: 200px;
}
.main-nav__submenu-link:hover {
  opacity: 0.6;
}
.main-nav__submenu-link:active {
  opacity: 0.3;
}
.search-form {
  width: 441px;
  position: relative;
}
.search-form__input {
  width: 441px;
  padding-left: 40px;
  padding-bottom: 16px;
  padding-top: 16px;
  background-color: transparent;
  outline: none;
  border: none;
}
.search-form__input::placeholder {
  opacity: 0.3;
}
.search-form__input:hover::placeholder {
  opacity: 0.6;
}
.search-form__input:focus {
  border-bottom: 2px solid black;
  padding-bottom: 14px;
}
.search-form__input:focus ~ .search-form__btn {
  display: block;
}
.search-form__btn {
  background-color: transparent;
  border: 2px solid black;
  padding: 14px 19px;
  position: absolute;
  right: 0px;
  top: 0px;
  display: none;
}
.search-form__btn:hover {
  background-color: #000000;
  color: #ffffff;
}
.search-form__btn:active {
  background-color: black;
  color: rgba(255, 255, 255, 0.3);
  display: block;
}
.search-form__icon {
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 3px;
  top: 17px;
}
.promo {
  width: 1160px;
  padding: 0;
  margin: 0 auto;
  position: relative;
  top: -111px;
}
.promo-list {
  height: 486px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}
.promo-item {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 0px;
  left: 0px;
}
.promo-item__img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.promo-item__img-wrapper {
  width: 560px;
  height: 486px;
  position: relative;
  margin-right: 40px;
}
.promo-item__text-wrapper {
  width: 560px;
  height: 486px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-top: 79px;
  padding-bottom: 7px;
  position: relative;
}
.promo-item__text-wrapper::before {
  content: "";
  position: absolute;
  top: 37px;
  left: 0px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}
.promo-item__number {
  font-family: "Gilroy-extrabold", Arial, sans-serif;
  font-size: 179.2px;
  line-height: 179.2px;
  letter-spacing: 0.01em;
  color: #ffffff;
  position: absolute;
  top: -14px;
  right: 46px;
}
.promo-item__slogan {
  margin: 0;
  font-family: "Gilroy-extrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 18px;
  z-index: 2;
}
.promo-item__desc {
  margin: 0;
  font-family: "OpenSans-light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}
.promo-item__btn {
  font-family: "Gilroy-extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  width: 220px;
  text-align: center;
  padding: 8px 0;
  margin-bottom: 50px;
  margin-top: auto;
}
.promo-item__btn:hover::before {
  height: 100%;
}
.promo-item__btn::before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: height 0.5s;
}
.promo-item__table {
  display: flex;
  flex-flow: row nowrap;
}
.promo-item__table-col {
  display: flex;
  flex-flow: column nowrap;
  width: 140px;
}
.promo-item__table-col:first-child {
  width: 160px;
}
.promo-item__table-cell:first-child {
  font-family: "Gilroy-light", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 8px;
}
.promo-item__table-cell:nth-child(2) {
  font-family: "OpenSans-light", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #464646;
}
.categories {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: -5px;
  margin-bottom: 75px;
}
.categories__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.categories__item {
  width: 160px;
  min-height: 240px;
}
.categories__item-link {
  display: flex;
  flex-flow: column nowrap;
}
.categories__item-link:hover .categories__img-wrapper {
  background-color: #f0c52e;
}
.categories__item-link:active .categories__img-wrapper {
  background-color: #f0c52e;
}
.categories__item-link:active .categories__img {
  opacity: 0.3;
}
.categories__item-link:active .categories__item-name {
  opacity: 0.3;
}
.categories__item-name {
  margin: 0;
  order: 2;
  font-family: "Gilroy-extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
}
.categories__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.categories__img-wrapper {
  height: 160px;
  width: 160px;
  background-color: #f7e196;
  position: relative;
  order: 1;
  margin-bottom: 33px;
  transition: background-color 0.3s;
}
.categories__img-wrapper-down .categories__img {
  top: 100%;
  transform: translate(-50%, -100%);
}
.services-slider {
  height: 320px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin-bottom: 163px;
}
.services-slider::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 288px;
  background-color: #e5e5e5;
  top: 100px;
  z-index: -5;
  left: 50%;
  transform: translateX(-50%);
}
.services-slider__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  height: 320px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}
.services-slider__controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 280px;
  position: relative;
  padding-top: 10px;
}
.services-slider__controls::after {
  content: "";
  width: 7px;
  height: 100%;
  background-color: #000000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -4px;
}
.services-slider__controls-btn {
  font-family: "Gilroy-extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  width: 160px;
  padding: 8px 0;
  position: relative;
  margin: 12.5px 0;
}
.services-slider__controls-btn::before {
  content: "";
  width: 160px;
  height: 8px;
  background-color: #f0c52e;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
  transition: background-color 0.5s, width 0.5s, height 0.5s;
}
.services-slider__controls-btn:hover::before {
  height: 100%;
}
.services-slider__controls-btn:active {
  color: #f7e184;
}
.services-slider__controls-btn:active::before {
  height: 100%;
  background-color: #000000;
  width: 278px;
}
.services-slider__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 880px;
}
.services-slider__item {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  padding-top: 74px;
  padding-left: 122px;
  position: relative;
}
.services-slider__item--delivery::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 135px;
  transform: translate(50%, -50%);
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
}
.services-slider__item--warranty::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 135px;
  transform: translate(50%, -50%);
  width: 171px;
  height: 194px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
}
.services-slider__item--credit::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 135px;
  transform: translate(50%, -50%);
  width: 156px;
  height: 186px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
}
.services-slider__item-name {
  margin: 0;
  font-family: "Gilroy-extrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 32px;
}
.services-slider__item-desc {
  margin: 0;
  font-family: "OpenSans-light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
  width: 436px;
}
.brands {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 89px;
}
.brands__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.brands__item-img {
  width: 260px;
  height: 100px;
  filter: grayscale(100%) opacity(20%);
  transition: filter 0.4s;
}
.brands__item:hover .brands__item-img {
  filter: grayscale(0%) opacity(100%);
}
.company-info {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 80px;
}
.about-us {
  width: 600px;
  position: relative;
  padding-top: 52px;
}
.about-us::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
  top: 0px;
  left: 0px;
}
.about-us__heading {
  margin: 0;
  font-family: "Gilroy-extrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 14px;
}
.about-us__desc {
  margin: 0;
  font-family: "OpenSans-light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  padding-right: 125px;
  white-space: pre-line;
  margin-bottom: 65px;
}
.about-us__delivery {
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-image: url("../img/slider-buttonx.png");
  font-family: "Gilroy-extrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  padding-left: 35px;
  margin-bottom: 54px;
}
.about-us__btn {
  font-family: "Gilroy-extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  width: 260px;
  text-align: center;
  padding: 8px 0;
  display: inline-block;
}
.about-us__btn:hover::before {
  height: 100%;
}
.about-us__btn::before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: height 0.5s;
}
.contacts {
  width: 560px;
  position: relative;
  padding-top: 52px;
}
.contacts::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
  top: 0px;
  left: 0px;
}
.contacts__heading {
  margin: 0;
  font-family: "Gilroy-extrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 44px;
}
.contacts__desc {
  margin: 0;
  font-family: "OpenSans-light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  margin-bottom: 38px;
}
.contacts__map-prewiev {
  margin-bottom: 65px;
  width: 560px;
  height: 222px;
}
.contacts__btn {
  font-family: "Gilroy-extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  width: 260px;
  text-align: center;
  padding: 8px 0;
  display: inline-block;
}
.contacts__btn:hover::before {
  height: 100%;
}
.contacts__btn::before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: height 0.5s;
}
.index-footer {
  width: 100%;
  background-color: #464646;
}
.footer-nav {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  padding-top: 55px;
  padding-bottom: 60px;
}
.footer-nav__row {
  display: flex;
  flex-flow: row wrap;
}
.footer-nav__row--1 {
  margin-bottom: 20px;
  justify-content: space-between;
}
.footer-nav__row--2 {
  margin-bottom: 60px;
}
.footer-nav__row--3 {
  align-items: center;
}
.footer-nav__row--3::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}
.footer-nav__logo {
  font-family: "Gilroy-extrabold", Arial, sans-serif;
  font-size: 48px;
  letter-spacing: 0.01em;
  color: #ffc600;
  text-transform: uppercase;
  margin-left: -2px;
}
.footer-nav__logo:hover {
  opacity: 0.6;
}
.footer-nav__logo:active {
  opacity: 0.3;
}
.footer-nav__user {
  list-style-type: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  font-family: "OpenSans-light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.footer-nav__user-item {
  margin-bottom: 9px;
  position: relative;
}
.footer-nav__user-item:hover .footer-nav__user-link {
  opacity: 1;
}
.footer-nav__user-item:hover::before {
  opacity: 0.6;
}
.footer-nav__user-item:active .footer-nav__user-link {
  opacity: 0.3;
}
.footer-nav__user-item:active::before {
  opacity: 0.3;
}
.footer-nav__user-item--login {
  padding-left: 27px;
}
.footer-nav__user-item--login::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  top: 11px;
  left: 0px;
  background-image: url("../img/user-orange.svg");
  background-repeat: no-repeat;
}
.footer-nav__user-item--compare {
  padding-left: 20px;
  margin-left: 42px;
}
.footer-nav__user-item--compare::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 13px;
  left: 0px;
  background-image: url("../img/compare-orange.svg");
  background-repeat: no-repeat;
}
.footer-nav__user-item--cart {
  padding-left: 24px;
  margin-left: 39px;
}
.footer-nav__user-item--cart::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 11px;
  left: 1px;
  background-image: url("../img/cart-orange.svg");
  background-repeat: no-repeat;
}
.footer-nav__user-link {
  opacity: 0.7;
}
.footer-nav__adress {
  font-family: "OpenSans-light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  margin-right: 146px;
}
.footer-nav__site {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-family: "Gilroy-extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-transform: uppercase;
}
.footer-nav__site-item {
  padding-top: 4px;
  margin: 0 17px;
}
.footer-nav__site-item:hover {
  opacity: 0.6;
}
.footer-nav__site-item:active {
  opacity: 0.3;
}
.footer-nav__phone {
  font-family: "OpenSans-light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  margin-left: auto;
}
.social {
  list-style-type: none;
  margin: 0;
  margin-left: 419px;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}
.social__item {
  margin: 0 11px;
  padding-top: 3px;
  opacity: 0.3;
}
.social__item:hover {
  opacity: 0.6;
}
.social__item:active {
  opacity: 0.1;
}
.social__img {
  width: 32px;
  height: 32px;
}
.copyright {
  margin-left: auto;
}
.copyright__img {
  width: 27px;
  height: 34px;
}
.copyright__img:hover {
  opacity: 0.6;
}
.copyright__img:active {
  opacity: 0.3;
}
.catalog-page .index-header {
  padding-bottom: 50px;
  margin-bottom: 37px;
}
.title {
  width: 1040px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 46px;
}
.title__heading {
  font-family: Gilroy-extrabold, Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0;
  margin-bottom: 24px;
}
.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}
.breadcrumbs__item {
  font-family: OpenSans-light, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000000;
  position: relative;
}
.breadcrumbs__item:not(.breadcrumbs__item--current) {
  padding-right: 37px;
}
.breadcrumbs__item:not(.breadcrumbs__item--current)::before {
  content: '';
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 4px;
  height: 7px;
}
.breadcrumbs__link {
  opacity: 0.3;
}
.breadcrumbs__link:hover {
  opacity: 0.6;
}
.breadcrumbs__link:active {
  opacity: 0.1;
}
.catalog {
  width: 1160px;
  padding: 0;
  padding-left: 60px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 4px;
}
.catalog__col {
  display: flex;
  flex-flow: column wrap;
  width: 832px;
  padding-left: 72px;
}
.catalog__wrap {
  overflow: hidden;
  width: 100%;
}
.filter {
  width: 268px;
  position: relative;
}
.filter::before {
  content: "";
  width: 2000px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.08);
  z-index: -2;
}
.filter__form {
  padding-top: 68px;
}
.filter__heading {
  margin: 0;
  display: table-cell;
  height: 70px;
  width: 269px;
  vertical-align: middle;
  font-family: Gilroy-extrabold, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.23em;
  color: #000000;
  text-transform: uppercase;
  position: relative;
}
.filter__set {
  padding: 0;
  margin: 0;
  border: none;
  width: 201px;
  border-top: 2px solid black;
}
.filter__set-title {
  font-family: Gilroy-extrabold, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #000000;
  float: left;
  margin-top: 10px;
}
.filter__btn {
  font-family: Gilroy-extrabold, Arial, sans-serif;
  font-size: 18px;
  line-height: 29.9px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  display: block;
  width: 200px;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
  background-color: transparent;
  border: none;
}
.filter__btn::before {
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #f0c52e;
  transition: height 0.4s;
  z-index: -1;
}
.filter__btn:hover::before {
  height: 100%;
}
.sort {
  position: relative;
  height: 70px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.sort::before {
  content: "";
  width: 2000px;
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(50% - 270px);
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.08);
  z-index: -2;
}
.sort__heading {
  font-family: Gilroy-extrabold, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.23em;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-right: 44px;
}
.sort__type {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}
.sort__type-item {
  margin-right: 17px;
  opacity: 0.3;
}
.sort__type-item:not(.sort__type-item--current):hover {
  opacity: 0.6;
}
.sort__type-item:not(.sort__type-item--current):active {
  opacity: 1;
}
.sort__type-item--current {
  opacity: 1;
  pointer-events: inherit;
}
.sort__type-btn {
  background-color: transparent;
  border: none;
}
.sort__order {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: auto;
}
.sort__order-item {
  opacity: 0.3;
}
.sort__order-item:not(.sort__order-item--current):hover {
  opacity: 0.6;
}
.sort__order-item:not(.sort__order-item--current):active {
  opacity: 1;
}
.sort__order-item--current {
  opacity: 1;
}
.sort__order-btn {
  width: 11px;
  height: 10px;
  padding: 0;
  position: relative;
  border: none;
  background-color: transparent;
}
.sort__order-btn--up {
  margin-right: 20px;
}
.sort__order-btn--up::before {
  content: "";
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 11px;
  height: 10px;
  top: 0;
  left: 0;
}
.sort__order-btn--down::before {
  content: "";
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 11px;
  height: 10px;
  top: 0;
  left: 0;
}
.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 58px;
  display: flex;
  flex-flow: row wrap;
}
.product-item {
  width: 360px;
  margin-right: 40px;
  margin-top: 11px;
  height: 495px;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.product-item--new::after {
  content: "NEW";
  position: absolute;
  top: 29px;
  right: 26px;
  width: 60px;
  height: 60px;
  border: 2px solid black;
  opacity: 0.2;
  font-family: Gilroy-extrabold, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #000000;
  text-align: center;
  padding: 16px 0;
  border-radius: 50%;
}
.product-item:nth-child(2n) {
  margin-right: 0;
}
.product-item__img {
  position: relative;
  width: 360px;
  height: 380px;
}
.product-item__img-wrap {
  position: relative;
  width: 360px;
  height: 380px;
  margin-bottom: 32px;
}
.product-item__img-wrap:hover .product-item__img-hover {
  display: flex;
}
.product-item__img-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  flex-flow: column nowrap;
  padding-top: 170px;
  align-items: center;
  background-color: rgba(238, 238, 238, 0.7);
  z-index: 1;
}
.product-item__title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.product-item__title-name {
  font-family: Gilroy-extrabold, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #000000;
  white-space: pre-line;
}
.product-item__title-name:hover {
  opacity: 0.6;
}
.product-item__title-name:active {
  opacity: 0.3;
}
.product-item__title-cost {
  font-family: Gilroy-light, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
  white-space: nowrap;
}
.product-item__btn-cart {
  font-family: Gilroy-extrabold, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #000000;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  height: 40px;
  width: 200px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.product-item__btn-cart:active {
  color: rgba(0, 0, 0, 0.3);
}
.product-item__btn-cart::before {
  content: "";
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  transition: height 0.4s;
}
.product-item__btn-cart:hover::before {
  height: 100%;
}
.product-item__btn-compare {
  opacity: 0.5;
  font-family: OpenSans-light, Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000000;
  border: none;
  background-color: transparent;
}
.product-item__btn-compare:hover {
  opacity: 1;
}
.product-item__btn-compare:active {
  opacity: 0.2;
}
.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.08);
  margin-bottom: 73px;
}
.pagination__btn {
  padding: 0 30px;
  font-family: Gilroy-extrabold, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}
.pagination__btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.pagination__btn:active {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
.pagination__list {
  list-style-type: none;
  padding: 23px 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  font-family: Gilroy-extrabold, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #000000;
}
.pagination__item {
  margin: 0 16px;
}
.pagination__pagenum {
  background-color: transparent;
  border: none;
  padding: 0;
  opacity: 0.3;
}
.pagination__pagenum--active {
  opacity: 1;
  pointer-events: inherit;
}
.pagination__pagenum:not(.pagination__pagenum--active):hover {
  opacity: 0.6;
}
.pagination__pagenum:not(.pagination__pagenum--active):active {
  opacity: 1;
}